.display-table.installation_box-item
  .display-table-cell.valign--top
    .installation_box-item-title
      = title
  .display-table-cell.valign--middle
    .installation_box-item-value
      - if value.is_a?(Array)
        - value.each do |val|
          != val
      - else
        = value