:plain
  var appDiv = $("#application-#{@installations.first.application_id}")
  var content = "#{escape_javascript(render('installations', :installations => @installations))}"

  Installation.expand(appDiv, content)