#applications
  - @applications.each do |application|
    = link_to application_installations_path(application), remote: true, 'data-no-turbolink' => '', id: "application-#{application.id}", class: 'app-link' do
      .application
        %p
          = application.name
          = image_tag 'loader_white.gif', class: 'loader'
    .installations
