
- button_class = controller_name == 'branch_watchers' ? 'btn-inverse' : 'btn-info'
= link_to 'Branch watchers', settings_branch_watchers_path, class: "btn btn-large #{button_class}"

-#- button_class = controller_name == 'commit_watchers' ? 'btn-inverse' : 'btn-info'
-#= link_to 'Commit watchers', settings_branch_watchers_path, class: "btn btn-large #{button_class}"

