@import "base";

#applications {
  .loader {
    display: none;
  }
  a {
    text-decoration: none;
    &.app-link {
      display: block;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .application {
    padding: 20px 0 10px 15px;
    background: $midnight_blue;
    color: #fff;
    p {
      font-size: 18px;
      font-weight: lighter;
    }
  }
  .installations {
    display: none;
    background: $concrete;
    padding: 15px 0 15px 75px;
    a {
      color: darken($belize_hole, 10%);
    }
  }
  span.warn {
    color: $alizarin;
    font-size: 1.2em;
    a {
      text-decoration: underline;
    }
  }
  span.separator {
    color: $silver;
  }
  td, th {
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  }
  thead {
    border-bottom: 4px solid #2980b9;
    color: #fff;
  }
  tr {
    border-bottom: 1px solid #2980b9
  }
  td {
    background: #fff;
    &.name {
      font-weight: bold;
    }
  }
}
