/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require flat-ui
 *= require jquery.tablesorter
 *= require_self
 *= require_tree .
 */

@import "base";

 * {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
 }

html, body {
  height: 100%;
}

body {
  &.applications, &.states, &.code_changelogs {
    background: $asbestos;
  }
  &.sessions {
    background: $midnight_blue;
  }
}

#wrapper {
  padding-top: 40px;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0!important;
}

td, th {
  padding: 10px 15px;
}

th {
  font-weight: bold;
  background: $peter_river;
}

thead {
  color: #fff;
}

tbody tr {
  &.odd {
    background: #fff;
  }
  &.even {
    background: darken(#fff, 5%);
  }
  &.uptodate {

    background: mix(white,$emerald,75%);

    .name, .behind_by {
      //color: $emerald;
    }
    .behind_by {
      font-weight: bold;
    }
    a{
      color:inherit;
      font-size:inherit;
      font-weight:inherit;
    }
  }
}

td.name {
  font-weight: bold!important;
}

tr.development {
  color: $concrete;
}

table {
  width: 100%;
}

.centered-title{
  display:table;
  background:$wet_asphalt;
  width:100%;
  padding: 5px 15px;
  box-sizing: border-box;
  &_label{
    display:table-cell;
    vertical-align: middle;

    font-size: 18px;
    font-weight: lighter;
    color:white;
  }
}

.alert{
  position:fixed;
  top:10px;
  right:10px;
  z-index:2000;
}

.copy_link {
  float: right;
  margin-top: -3px;
  cursor:pointer;
}
.external_link {
  float:right;
  margin-top:1px;
}
.search_bar{
  position:relative;
}
#lunr_search{
  height: 40px;
  padding: 0 30px 0 5px;
  box-sizing: border-box;
}
.search_icon{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}