@import "base";

#applications, #states {
  .loader {
    display: none;
  }
  a {
    text-decoration: none;
    &.app-link {
      display: block;
      border-bottom: 1px solid #fff;
    }
  }
  .installations {
    display: none;
    background: $concrete;
  }
  span.warn {
    color: $alizarin;
    font-size: 1.2em;
    a {
      text-decoration: underline;
    }
  }
  span.separator {
    color: $silver;
  }
}

.application, #installation {
  padding: 20px 0 10px 15px;
  background: $midnight_blue;
  color: #fff;
  p {
    font-size: 18px;
    font-weight: lighter;
  }
}

.changelogs_count {
  margin-left: 5px;
}
