@import "base";

.text-align{
  &--center{text-align:center;}
  &--left{text-align:left;}
  &--right{text-align:right;}
}

.display{

  &-table{
    display:table;
    width:100%;
    &-cell{
      display:table-cell;
    }
  }

  &-inline-block{
    display:inline-block;
  }
}

.valign{
  &--top{
    vertical-align: top;
  }
  &--middle{
    vertical-align: middle;
  }
  &--bottom{
    vertical-align: bottom;
  }
}

.float{
  &-right{float:right;}
  &-left{float:left;}
  &-none{float:none; clear:both;}
}